<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bird Korea</title>
    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap lib Start -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Bootstrap finish -->

    <!-- countdown function -->
    <!-- <script type="text/javascript">
      function countDown(secs, elem) {
        var element = document.getElementById(elem);
        element.innerHTML = "<h2>Left : " + secs + "</h2>";
        if(secs < 1){
          clearTimeout(timer); // Stop timer
          element.innerHTML = '<h3>Complete!</h3>';
          element.innerHTML += '<a href="#">Click here now</a>';
        }

        secs--;
        // setTimeout is special function that do execute a function in some interval
        var timer = setTimeout('countDown('+secs+', "'+elem+'")', 1000);
      }
    </script> -->


    <link rel='stylesheet' href='stylesheets/splash-screen.css'>
    <link rel='stylesheet' href='stylesheets/main-menu.css'>
    <link rel='stylesheet' href='stylesheets/game-screen.css'>
  </head>


  <body>
    <!--include ejs file like this.-->
    <header>
      <% include templates/header.ejs %>
    </header>

    <!-- 현재 어째서 splash-screen 만 표현이 되고 있을까요?? -->
    <div id="game">


      <div class='background'></div>

      <!-- 스플래시 화면 html -->
      <div class="screen" id="splash-screen">
        <h1 class="logo1">Bird</h1>
        <h1 class="logo2">Korea</h1>
        <span>계속하려면 클릭하세요.</span>
      </div>

      <!-- 메인메뉴 화면 html -->
      <div class="screen" id="main-menu">
        <h1 class="logo1">Bird</h1>
        <h1 class="logo2">Korea</h1>
        <ul class="menu">
          <li><button name="game-screen">START</button></li>
          <li><button name="score-screen">SCORE</button></li>
        </ul>
      </div>


      <!-- 게임 화면 -->
      <div class="screen" id="game-screen">

        <div class="image-board">
          <img id='quiz-image' src=''/>
        </div>

        <div class="user-board">

          <!-- Quiz number -->
          <div class="view-area">
            <h2 id ="counter">Quiz : 0/10</h2>
          </div>

          <!-- Input -->
          <div class="view-area">
            <input id='answer' value="" onchange=""/>
            <button class="answer" id="next_btn" onclick ="" name="next">NEXT</button>
          </div>

          <!-- Timer -->
          <div class="view-area">
            <!-- <script type="text/javascript">
              countDown(10, "status");
            </script> -->
            <h2 id ="timer"></h2>
          </div>

        </div>

        <!-- <div class="timer">
          <div class="time">
            <div class="indicator"></div>
          </div>
        </div> -->

      </div>


      <div class="screen" id="high-scores">game</div>

      <!-- ID가 지정되어 있으므로, CSS와 javascript를 연결가능-->
      <div id="image-proto" class="image-size"></div>
    </div>


    <!-- Modal POP Up window when not logged in -->
    <div class="modal fade" id="loginPopUp" tabindex="-1" role="dialog" aria-labelledby="login-popUp" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginPopUp">Wait, You are not logged in! </h5>
          </div>
          <div class="modal-body">
            Please, login before continue...
          </div>
          <div class="modal-footer">
            <button id="login-btn" type="button" class="btn btn-primary" onclick="loginBtn()">LogIn</button>
          </div>
        </div>
      </div>
    </div>

  </body>

  <script>
    if(<%=token%> == false) {
      $('#loginPopUp').modal({keyboard: false, backdrop: 'static'});
    }

    function loginBtn() {
      window.location.replace("login/");
    }
  </script>

</html>
