<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <head>
    <title>Bird Korea</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel='stylesheet' href='/stylesheets/fontfaces.css'>
    <script src="scripts/modernizr.js"></script>
    <script src="scripts/loader.js"></script>
  </head>

  <body>
    <!--include ejs file like this.-->
    <header>
      <% include templates/header.ejs %>
    </header>

    <div class="body">
      <br>
      <img id="img" src= "/images/logo.gif" width=850px>
    </div>

  </body>

</html>
