<head>


    <title>Bird Korea</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <link rel='stylesheet' href='/stylesheets/fontfaces.css'>
    <script src="scripts/modernizr.js"></script>
    <script src="scripts/loader.js"></script>

</head>



<h1>B I R D <span class="korea">Korea</span></h1>
<a href="/">Home</a> |
<a href="/game">Game</a> |
<a href="/map">Korean-Image Map</a> |
<a href="/about">About</a> ||
<a id = "signup" href="/signup">Sign Up</a> |
<a id = "login" href="/login">Log In</a> |


<script>
  if(<%=token%> == "true") {
    $('#login').replaceWith("<a href=\"/logout\">LogOUT</a>");
    $('#signup').replaceWith("<a href=\"/users/profile\">Profile</a>");
  }
</script>
