<h1>B I R D <span class="korea">Korea</span></h1>
<a href="/">Home</a> |
<a href="/game">Game</a> |
<a href="/map">Korean-Image Map</a> |
<a id = "login" href="/login">Log In</a> |
<a id = "signup" href="/signup">Sign Up</a> |
<a href="/test">Test Page</a>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<script>
  console.log(<%=token%>);
  if(<%=token%> == true) {
    $('#login').replaceWith("<a data-method=\"delete\" href=\"/logout\">LogOUT</a>");
    $('#signup').remove();
  }
</script>
