<h1>B I R D <span class="korea">Korea</span></h1>
<a href="/">Home</a> |
<a href="/game">Game</a> |
<a href="/map">Korean-Image Map</a> |
<a href="/login">Log In</a> |
<a href="/signup">Sign Up</a> |
<a href="/test">Test Page</a>
