/* game-screen style */
/* 일단 이미지보드의 크기는 8em으로 설정. 차후에 다시 수정. */
/* 이미지가 들어갈 부분의 배경은 파란색으로 설정. 일단.*/
#game-screen {
  text-align: center;
}

#game-screen .image-board {
  position : relative;
  margin-left: auto;
  margin-right: auto;
  width : 400px;
  height : 440px;
}

#quiz-image {
  position : relative;
  max-width : 400px;
  max-height : 400px;

  /* 위아래 중간정렬. */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* proto공간을 미소 크기로 설정해서, image-size 클래스가 이미지의 실제 크기를 결정하게 되었다. */
.image-size {
  font-size : 10px;
}

/* #game-screen .center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
} */

#image-proto {
  position : absolute;
  width : 1em;
  height : 1em;
  left : -800px;
}

#game-screen .time {
  margin-left : 270px;
  margin-top : 50px;
  border-style: solid;
  height : 20px;
  width : 250px;
  border-width: 2px;
  border-color : yellow;
  border-radius : 10px;
  background-color : red;
}

#game-screen .time .indicator {
  background-color : blue;
  border-width: 2px;
  border-color : white;
  border-radius : 7px 0px 0px 7px;
  height : 16px;
  width : 100%;
}
